div.a
{
  text-align: left;
  font-family: consolas; 
  font-size: small;
  color:rgb(255, 255, 255);
  line-height:5px;
}

a:link, a:visited 
{
  color: rgb(0, 102, 204);
}

cursor
{
  font-size: 14px;
}