body
{
  background-color:rgb(0, 0, 0)
}

.box
{
  border: 1px dashed rgb(255, 255, 255);
  padding: 30px;
  margin:4% 22%;
  overflow: auto;
}

.text
{
  font-family: consolas; 
  text-align: left;
  font-size: small;
  color:rgb(255, 255, 255);
  line-height:5px;
  min-width:700px;
  max-width: 1920px;
}

a:link, a:visited
{
  color: rgb(0, 55, 218);
}

cursor
{
  font-size: 14px;
}



/*  
  margin-left: 600px;
  margin-top: 120px; 
  text-indent: 40%;
*/